:root {
  --azul-jovi: #1e46e6;
  --azul-escuro-jovi: #242933;
  --branco-jovi: #f5f7fa;
  --branco: #ffffff;
  --branco-sub: #ffffffe8;
  --fonte-primaria: "Google Sans Flex", sans-serif;
  --branco-hover: #ffffffbf;
  --borda-card: #1e46e60d;
  --sub-escuro: #242933d9;
  --font-size-tiutlo-hero-mobile: 2.5rem;
  --font-size-sub-hero-mobile: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-primaria);
  background-color: var(--branco-jovi);
}

main {
  padding-top: 98px;
}

/* Início: menu hamburguer */

.menu {
  padding: 35px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--azul-jovi);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-botao {
  display: none;
}

.menu-botao:checked + label .menu-icon {
  background-image: url(../assets/menu-fechar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.menu-botao:checked ~ .lista-itens {
  display: block;
  width: 100%;
  background: var(--azul-jovi);
}

.menu.menu-aberto {
  background-color: var(--azul-jovi);
}

.menu-icon {
  display: block;
  background-image: url(../assets/menu-hamburguer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 31px;
  height: 23px;
  transition: 0.3s ease;
}

.lista-itens {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 0 40px 40px 35px;
}

.lista-itens a {
  display: block;
  color: var(--branco-jovi);
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
}

.divisor-menu {
  margin-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  border: 0.01rem solid #ffffff80;
  border-radius: 8px;
}

/* Fim: menu hamburguer */

/* Início: logo */

.logo {
  display: flex;
  align-items: center;
}

.logo-jovi {
  display: block;
  background-image: url(../assets/logo-jovi.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 105px;
  height: 28px;
}

/* Fim: logo */

/* Responsividade: menu */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  main {
    padding-top: 120px;
  }

  .menu {
    padding: 40px 80px;
  }

  .menu-botao:checked ~ .lista-itens {
    display: block;
    width: 100%;
  }

  .menu-botao:checked + label .menu-icon {
    width: 35px;
    height: 35px;
  }

  .menu-itens {
    width: 45px;
    height: 32px;
  }

  .menu-icon {
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .lista-itens {
    padding-left: 80px;
    padding-right: 80px;
  }

  .lista-itens a {
    font-size: 1.05rem;
  }

  .logo {
    width: 150px;
    height: 40px;
  }

  .logo-jovi {
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  main {
    padding-top: 95px;
  }

  .menu {
    padding: 30px 80px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo a {
    display: flex;
    align-items: center;
  }

  .logo-jovi {
    width: 128px;
    height: 35px;
  }

  .menu-itens {
    display: flex;
    align-items: center;
  }

  .lista-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    list-style: none;
    position: static;
    padding: 0;
  }

  .lista-itens a {
    display: block;
    font-size: 1.1rem;
  }

  .lista-itens a:hover {
    color: var(--branco-hover);
  }

  .divisor-menu {
    display: none;
  }

  .menu-botao,
  .menu-icon {
    display: none;
  }
}

/* Fim Responsividade: menu */

/* Início: Hero */

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/hero-mobile.png);
  background-size: cover;
  height: 90dvh;
  padding: 0 24px;
}

#hero-titulo {
  color: var(--branco-jovi);
  font-size: var(--font-size-tiutlo-hero-mobile);
  margin-bottom: 10px;
  font-weight: 700;
}

#hero-sub {
  color: var(--branco-sub);
  font-size: var(--font-size-sub-hero-mobile);
  margin-bottom: 26px;
  font-weight: 500;
}

.hero-botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.hero-botao {
  align-content: center;
  text-decoration: none;
  color: var(--azul-escuro-jovi);
  background-color: var(--branco);
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid var(--branco);
}

.hero-botao-prototipo {
  color: var(--branco);
  background-color: transparent;
  border: 1px solid var(--branco);
}

/* Responsividade: hero */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  #hero-section {
    background-image: url(../assets/hero-tablet.png);
    padding: 0 60px;
  }

  #hero-titulo {
    font-size: 4rem;
  }

  #hero-sub {
    font-size: 1.6rem;
    margin-bottom: 36px;
  }

  .hero-botao {
    padding: 16px 20px;
    font-size: 1.5rem;
  }

  .hero-botao-prototipo {
    border: 2px solid var(--branco);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  #hero-section {
    background-image: url(../assets/hero-desktop.png);
    padding: 0 80px;
  }

  #hero-titulo {
    font-size: 5rem;
  }

  #hero-sub {
    font-size: 1.4rem;
    margin-bottom: 36px;
  }

  .hero-botao {
    padding: 16px 20px;
    font-size: 1.2rem;
    transition: 0.3s ease;
  }

  .hero-botao-prototipo {
    border: 2px solid var(--branco);
  }

  .hero-botao:hover {
    color: var(--branco);
    background-color: transparent;
    border: 2px solid var(--branco);
  }

  .hero-botao-prototipo:hover {
    color: var(--azul-escuro-jovi);
    background-color: var(--branco);
    border: 2px solid var(--branco);
  }
}

/* Fim Responsividade: hero */

/* Fim: Hero */

/* Início: Solução */

.solucao-section {
  padding: 40px 24px 20px 24px;
}

#solucao-cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  margin-bottom: 30px;
}

#solucao-titulo {
  font-size: 1.5rem;
  color: var(--azul-escuro-jovi);
}

#solucao-sub {
  font-size: 1rem;
  font-weight: 500;
  color: var(--sub-escuro);
}

.grade-recursos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.cartao-recurso {
  background: var(--branco);
  border: 1px solid var(--borda-card);
  box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.cartao-recurso h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.cartao-recurso p {
  font-size: 0.9rem;
}

.icone-recurso {
  display: block;
  width: 45px;
  height: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

.camera {
  background-image: url(../assets/camera-icon.svg);
}

.lupa {
  background-image: url(../assets/lupa-icon.svg);
}

.scan {
  background-image: url(../assets/scan-icon.svg);
}

.sparkle {
  background-image: url(../assets/sparkle-icon.svg);
}

.folder {
  background-image: url(../assets/folder-icon.svg);
}

.translate {
  background-image: url(../assets/translate-icon.svg);
}

/* Responsividade: hero */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .solucao-section {
    padding: 60px 30px 60px 60px;
  }

  #solucao-cabecalho {
  gap: 12px;
  margin-bottom: 30px;
}

#solucao-titulo {
  font-size: 1.5rem;
}

#solucao-sub {
  font-size: 1rem;
}

.grade-recursos {
  gap: 1.2rem;
}

.cartao-recurso {
  padding: 30px 20px;
}

.cartao-recurso h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.cartao-recurso p {
  font-size: 0.9rem;
}

.icone-recurso {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 10px;
}
}

/* Desktop */
@media screen and (min-width: 992px) {
}

/* Fim Responsividade: hero */
