:root {
  --azul-jovi: #1e46e6;
  --azul-escuro-jovi: #242933;
  --branco-jovi: #f5f7fa;
  --branco: #ffffff;
  --branco-sub: #ffffffe8;
  --fonte-primaria: "Google Sans Flex", sans-serif;
  --branco-hover: #ffffffbf;
  --borda-card: #1e46e60d;
  --sub-escuro: #242933d9;
  --borda-form: #00000026;
  --gradiente-jovi: linear-gradient(106deg, #112780, #1e46e6);

  --font-size-titulo-hero-mobile: 2.5rem;
  --font-size-sub-hero-mobile: 1rem;

  --font-size-titulo-mobile: 1.4rem;
  --font-size-sub-mobile: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 87px;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  html {
    scroll-padding-top: 115px;
  }
}

@media screen and (min-width: 992px) {
  html {
    scroll-padding-top: 95px;
  }
}

body {
  font-family: var(--fonte-primaria);
  background-color: var(--branco-jovi);
}

main {
  padding-top: 87px;
}

/* Início: menu hamburguer */

.menu {
  padding: 30px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--azul-jovi);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-botao {
  display: none;
}

.menu-botao:checked + label .menu-icon {
  background-image: url(../assets/menu-fechar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.menu-botao:checked ~ .lista-itens {
  display: block;
  width: 100%;
  background: var(--azul-jovi);
}

.menu.menu-aberto {
  background-color: var(--azul-jovi);
}

.menu-icon {
  display: block;
  background-image: url(../assets/menu-hamburguer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 31px;
  height: 23px;
  transition: 0.3s ease;
}

.lista-itens {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 0 40px 40px 35px;
}

.lista-itens a {
  display: block;
  color: var(--branco-jovi);
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
}

.divisor-menu {
  margin-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  border: 0.01rem solid #ffffff80;
  border-radius: 8px;
}

/* Fim: menu hamburguer */

/* Início: logo */

.logo {
  display: flex;
  align-items: center;
}

.logo-jovi {
  display: block;
  width: 100px;
  height: 27px;
  object-fit: contain;
}

.lista-itens a:hover {
  color: var(--branco-hover);
}

/* Fim: logo */

/* Responsividade: menu */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  main {
    padding-top: 115px;
  }

  .menu {
    padding: 40px 80px;
  }

  .menu-botao:checked ~ .lista-itens {
    display: block;
    width: 100%;
  }

  .menu-botao:checked + label .menu-icon {
    width: 35px;
    height: 35px;
  }

  .menu-itens {
    width: 45px;
    height: 32px;
  }

  .menu-icon {
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .lista-itens {
    padding-left: 80px;
    padding-right: 80px;
  }

  .lista-itens a {
    font-size: 1.05rem;
  }

  .logo {
    width: 145px;
    height: 35px;
  }

  .logo-jovi {
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  main {
    padding-top: 95px;
  }

  .menu {
    padding: 30px 80px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo a {
    display: flex;
    align-items: center;
  }

  .logo-jovi {
    width: 128px;
    height: 35px;
  }

  .menu-itens {
    display: flex;
    align-items: center;
  }

  .lista-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    list-style: none;
    position: static;
    padding: 0;
  }

  .lista-itens a {
    display: block;
    font-size: 1.1rem;
  }

  .divisor-menu {
    display: none;
  }

  .menu-botao,
  .menu-icon {
    display: none;
  }
}

/* Fim Responsividade: menu */

/* Início: Hero */

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/hero-mobile.png);
  background-size: cover;
  height: 90dvh;
  padding: 0 24px;
}

#hero-titulo {
  color: var(--branco-jovi);
  font-size: var(--font-size-titulo-hero-mobile);
  margin-bottom: 10px;
  font-weight: 700;
}

#hero-sub {
  color: var(--branco-sub);
  font-size: var(--font-size-sub-hero-mobile);
  margin-bottom: 26px;
  font-weight: 500;
}

.hero-botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.hero-botao {
  align-content: center;
  text-decoration: none;
  color: var(--azul-escuro-jovi);
  background-color: var(--branco);
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid var(--branco);
}

.hero-botao-prototipo {
  color: var(--branco);
  background-color: transparent;
  border: 1px solid var(--branco);
}

.hero-botao:hover {
  color: var(--branco);
  background-color: transparent;
  border: 2px solid var(--branco);
}

.hero-botao-prototipo:hover {
  color: var(--azul-escuro-jovi);
  background-color: var(--branco);
  border: 2px solid var(--branco);
}

/* Responsividade: hero */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  #hero-section {
    background-image: url(../assets/hero-tablet.png);
    padding: 0 60px;
  }

  #hero-titulo {
    font-size: 4rem;
    margin-bottom: 8px;
  }

  #hero-sub {
    font-size: 1.4rem;
    margin-bottom: 36px;
  }

  .hero-botao {
    padding: 14px 20px;
    font-size: 1.1rem;
  }

  .hero-botao-prototipo {
    border: 2px solid var(--branco);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  #hero-section {
    background-image: url(../assets/hero-desktop.png);
    padding: 0 80px;
  }

  #hero-titulo {
    font-size: 5rem;
  }

  #hero-sub {
    font-size: 1.4rem;
    margin-bottom: 36px;
  }

  .hero-botao {
    padding: 16px 20px;
    font-size: 1.2rem;
    transition: 0.3s ease;
  }

  .hero-botao-prototipo {
    border: 2px solid var(--branco);
  }
}

/* Fim Responsividade: hero */

/* Fim: Hero */

/* Início: Solução */

.solucao-section {
  padding: 40px 24px 20px 24px;
}

#solucao-cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  margin-bottom: 30px;
}

#solucao-titulo {
  font-size: var(--font-size-titulo-mobile);
  color: var(--azul-escuro-jovi);
}

#solucao-sub {
  font-size: var(--font-size-sub-mobile);
  font-weight: 500;
  color: var(--sub-escuro);
}

.grade-recursos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.cartao-recurso {
  background: var(--branco);
  border: 1px solid var(--borda-card);
  box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.cartao-recurso h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.cartao-recurso p {
  font-size: 0.9rem;
}

.icone-recurso {
  display: block;
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cartao-recurso:hover {
  transform: translateY(-6px);
}

/* Responsividade: solução */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .solucao-section {
    padding: 60px 60px 30px 60px;
  }

  #solucao-cabecalho {
    gap: 10px;
    margin-bottom: 35px;
  }

  #solucao-titulo {
    font-size: 1.8rem;
  }

  #solucao-sub {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .solucao-section {
    padding: 80px 120px 30px 120px;
  }

  .grade-recursos {
    grid-template-columns: repeat(3, 1fr);
  }

  #solucao-titulo {
    font-size: 2rem;
  }

  #solucao-sub {
    font-size: 1.2rem;
  }

  #solucao-cabecalho {
    gap: 8px;
    margin-bottom: 45px;
  }

  .icone-recurso {
    margin-bottom: 14px;
  }
}

/* Fim Responsividade: solução */

/* Fim: Solução */

/* Início: público-alvo */

.publico-section {
  padding: 40px 24px 40px 24px;
}

#publico-titulo {
  font-size: var(--font-size-titulo-mobile);
  margin-bottom: 14px;
}

#publico-texto p {
  font-size: var(--font-size-sub-mobile);
}

.divisor-paragrafo {
  display: block;
  margin-bottom: 12px;
}

.publico-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.publico-imagem {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 12px;
  order: -1;
}
/* Responsividade: solução */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .publico-section {
    padding: 30px 60px 30px 60px;
  }

  #publico-titulo {
    font-size: 1.8rem;
    margin-bottom: 16px;
  }

  #publico-texto p {
    font-size: 1.1rem;
  }

  .divisor-paragrafo {
    margin-bottom: 14px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .publico-section {
    padding: 20px 120px 40px 120px;
  }

  #publico-titulo {
    font-size: 2rem;
  }

  #publico-texto p {
    font-size: 1.2rem;
  }

  .publico-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  .publico-imagem {
    aspect-ratio: 4 / 3;
    height: 80%;
    object-fit: cover;
  }
}

/* Fim Responsividade: solução */

/* Fim: público-alvo */

/* Início: Galeria */

.galeria-section {
  padding: 20px 24px 20px 24px;
}

.galeria-titulo {
  text-align: center;
  font-size: var(--font-size-titulo-mobile);
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  padding-bottom: 40px;
  --swiper-pagination-color: #1e46e6;
  --swiper-pagination-bullet-inactive-color: #1e46e6;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-size: 9px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-slide {
  border-radius: 12px;
  overflow: hidden;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-wrapper {
  margin-bottom: 10px;
}

/* Responsividade: galeria */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .galeria-section {
    padding: 30px 60px 30px 60px;
  }

  .galeria-titulo {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }

  .swiper {
    padding-bottom: 35px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .galeria-section {
    padding: 20px 120px 40px 120px;
  }

  .galeria-titulo {
    font-size: 2rem;
    margin-bottom: 45px;
  }

  .swiper {
    padding-bottom: 45px;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
  }
}

/* Fim Responsividade: galeria */
/* Fim: Galeria */

/* Início: Equipe  */

.equipe-section {
  padding: 20px 24px 20px 24px;
}

.area-membro {
  display: flex;
  justify-content: center;
}

.icone-membro {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.grade-equipe {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  list-style: none;
}

.equipe-cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  gap: 8px;
}

#equipe-titulo {
  font-size: var(--font-size-titulo-mobile);
}

#equipe-sub {
  font-size: var(--font-size-sub-mobile);
}

.cartao-membro {
  text-align: center;
  background: var(--branco);
  border: 1px solid var(--borda-card);
  box-shadow: 0px 10px 30px 6px rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.cartao-membro h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.cartao-membro p {
  font-size: 1rem;
}

.cartao-membro:hover {
  transform: translateY(-6px);
}

/* Responsividade: equipe */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .equipe-section {
    padding: 30px 60px 30px 60px;
  }

  .equipe-cabecalho {
    gap: 10px;
    margin-bottom: 35px;
  }

  .grade-equipe {
    grid-template-columns: repeat(2, 1fr);
  }

  #equipe-titulo {
    font-size: 1.8rem;
  }

  #equipe-sub {
    font-size: 1.2rem;
  }

  .icone-membro {
    margin-bottom: 12px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .equipe-section {
    padding: 40px 120px 40px 120px;
  }

  .grade-equipe {
    grid-template-columns: repeat(4, 1fr);
  }

  #equipe-titulo {
    font-size: 2rem;
  }

  #equipe-sub {
    font-size: 1.2rem;
  }

  .equipe-cabecalho {
    gap: 8px;
    margin-bottom: 45px;
  }

  .icone-membro {
    margin-bottom: 16px;
  }
}

/* Fim Responsividade: equipe */

/* Fim: Nossa Equipe */

/* Início: Contato */

.contato-section {
  padding: 40px 24px 40px 24px;
}

.contato-grade {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.contato-cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  gap: 8px;
}

#contato-titulo {
  font-size: var(--font-size-titulo-mobile);
}

#contato-sub {
  font-size: var(--font-size-sub-mobile);
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.campos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.campo label {
  font-size: 0.95rem;
  font-weight: 600;
}

.campo input,
.campo textarea {
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--borda-form);
  background: var(--branco);
  font-family: var(--fonte-primaria);
}

.campo input:focus,
.campo textarea:focus {
  outline: none;
  border-color: var(--azul-primario);
  box-shadow: 0 0 0 3px rgba(61, 90, 254, 0.15);
}

.botao-form {
  border: none;
  background-color: var(--azul-jovi);
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 1rem;
  color: var(--branco);
  font-family: var(--fonte-primaria);
}

.contato-imagem {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.botao-form:hover {
  color: var(--azul-jovi);
  background-color: var(--branco);
  border: 1px solid var(--azul-jovi);
}
/* Responsividade: contato */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .contato-section {
    padding: 30px 60px 60px 60px;
  }

  .contato-cabecalho {
    margin-bottom: 30px;
    gap: 8px;
  }

  #contato-titulo {
    font-size: 1.8rem;
  }

  #contato-sub {
    font-size: 1.2rem;
  }

  .contato-form {
    gap: 1rem;
  }

  .campo {
    gap: 0.4rem;
  }

  .campos {
    gap: 2rem;
  }

  .campo label {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .campo input,
  .campo textarea {
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 8px;
  }

  .botao-form {
    font-size: 1.15rem;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .contato-section {
    padding: 40px 120px 48px 120px;
  }

  .contato-grade {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  .contato-cabecalho {
    text-align: left;
  }

  .contato-cabecalho {
    margin-bottom: 30px;
    gap: 8px;
  }

  #contato-titulo {
    font-size: 2rem;
  }

  #contato-sub {
    font-size: 1.2rem;
  }

  .contato-form {
    gap: 1rem;
  }

  .campo {
    gap: 0.4rem;
  }
  .campos {
    gap: 1.6rem;
  }

  .campo label {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .campo input,
  .campo textarea {
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 8px;
  }

  .botao-form {
    font-size: 0.9rem;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--azul-jovi);
  }

  .contato-imagem {
    max-width: 500px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .contato-grade {
    max-width: 1200px;
    margin: 0 auto;
  }

  .contato-imagem {
    max-width: 500px;
    margin-left: auto;
  }
}

/* Fim Responsividade: contato */

/* Fim: Contato */

/*Início: CTA */

.cta-section {
  text-align: center;
  padding: 2rem 1.5rem;
  background: var(--gradiente-jovi);
  color: var(--branco);
}

#cta-titulo {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

#cta-sub {
  font-size: 0.9rem;
  color: var(--branco-sub);
  margin-bottom: 16px;
}

.cta-botao {
  font-size: 0.9rem;
  display: inline-block;
  border-radius: 8px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--azul-escuro-jovi);
  background-color: var(--branco);
  font-weight: 600;
}

.cta-botao:hover {
  color: var(--branco);
  background-color: transparent;
}

/* Responsividade: CTA */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .cta-section {
    padding: 2.3rem 1.5rem;
  }

  #cta-titulo {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  #cta-sub {
    font-size: 0.9rem;
    color: var(--branco-sub);
    margin-bottom: 16px;
  }

  .cta-botao {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .cta-section {
    padding: 4.5rem 1.5rem;
  }

  #cta-titulo {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  #cta-sub {
    font-size: 1.2rem;
    color: var(--branco-sub);
    margin-bottom: 30px;
  }

  .cta-botao {
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid var(--branco);
    transition: 0.3s ease;
  }
}

/* Fim Responsividade: CTA */

/* Fim: CTA */

/* Início: Footer */

.rodape {
  padding: 40px 24px 40px 24px;
}

.rodape-grade {
  display: grid;
  grid-template-columns: 1fr;
}

.rodape-jovi {
  text-align: center;
  margin-bottom: 35px;
}

.rodape-jovi p {
  margin-top: 10px;
  font-size: 1rem;
}

.rodape-coluna ul {
  color: var(--azul-escuro-jovi);
  margin-top: 8px;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rodape-coluna h3 {
  font-size: 1.05rem;
}

.rodape-coluna ul li a {
  color: var(--azul-escuro-jovi);
  text-decoration: none;
  font-size: 1rem;
}

.rodape-copy {
  text-align: center;
  font-size: 0.8rem;
  color: #00000080;
  padding: 8px 0;
}

.link-email {
  color: var(--azul-escuro-jovi);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icone-email {
  width: 19px;
  height: 19px;
  object-fit: contain;
}

.rodape-coluna ul li a:hover {
  color: var(--azul-jovi);
}
/* Responsividade: Footer */

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .rodape {
    padding: 60px 60px 30px 60px;
  }

  .rodape-jovi {
    margin-bottom: 40px;
  }

  .rodape-jovi p {
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .rodape-coluna ul {
    margin-top: 12px;
    margin-bottom: 30px;
    gap: 8px;
  }

  .rodape-coluna h3 {
    font-size: 1.05rem;
  }

  .rodape-coluna ul li a {
    font-size: 1rem;
  }

  .rodape-copy {
    font-size: 0.8rem;
    padding: 8px 0;
  }

  .link-email {
    font-size: 1rem;
    gap: 8px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .rodape {
    padding: 60px 100px 25px 100px;
  }

  .rodape-grade {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 50px;
  }

  .rodape-jovi {
    text-align: center;
    margin-bottom: 35px;
  }

  .rodape-jovi p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .rodape-coluna ul {
    color: var(--azul-escuro-jovi);
    margin-top: 8px;
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .rodape-coluna ul li a {
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 1440) {
  .rodape-grade {
    gap: 0;
  }
}

/* Fim Responsividade: Footer */
/* Fim: Footer */
